<div class="row"><div class="span12">
  <div class="gist-profile well clearfix">
    <div class="profile-pic">
      <img src="{{avatar_url}}" class="img-polaroid" />
    </div>
    <div class="span6">
      <div class="info-row clearfix">
        <span class="username">{{login}}</span>
      </div>
      <div class="info-row clearfix">
        <span class="info-label"><i class="icon-user"></i> GitHub : </span>
        <span class="info-content"><a href="{{html_url}}">{{html_url}}</a></span>
      </div>
      <div class="info-row clearfix">
        <span class="info-label"><i class="icon-thumbs-up"></i> Public Repos : </span>
        <span class="info-content"><span class="badge badge-success">{{public_repos}}</span></span>
      </div>
      <div class="info-row clearfix">
        <span class="info-label"><i class="icon-thumbs-up"></i> Public gist : </span>
        <span class="info-content"><span class="badge badge-info">{{public_gists}}</span></span>
      </div>
      <p>{{bio}}</p>
    </div>
  </div>
  <hr/>
</div></div>
