  <div class="gist-profile well" >
    <div class="profile-pic">
      <img src="{{avatar_url}}" class="img-polaroid" />
    </div>
    <div class="info-row">
      <div class="">
        <span class="username">{{login}}</span>
      </div>
      <div class="info-row">
        <span class="">
        <a href="{{html_url}}">{{html_url}}</a>
        </span>
      </div>
      <div class="row-fluid">
        <span class="span8 info-label"><i class="icon-thumbs-up"></i> Public Repos : </span>
        <span class="span4 info-content"><span class="badge badge-success">{{public_repos}}</span></span>
      </div>
      <div class="info-row clearfix">
        <span class="info-label"><i class="icon-thumbs-up"></i> Public gist : </span>
        <span class="info-content"><span class="badge badge-info">{{public_gists}}</span></span>
      </div>
      <p>{{bio}}</p>
    </div>
  </div>
